## Lab Assignment: Introduction to Pandas 

### Objective: To introduce data manipulation and analysis in Python using Pandas and understand Pandas data structures and basic operations.

### Instructions:
In this lab assignment, you will be introduced to data manipulation and analysis in Python using Pandas. You will learn how to create and manipulate Pandas data structures, perform basic data analysis and cleaning operations, and apply built-in functions to analyze and transform the data.

You will be provided with the following five problems to solve. Please read the problem statement carefully and implement the solution using Pandas.

1. Sort a Pandas DataFrame by a specific column in ascending order.
2. Remove duplicates from a Pandas DataFrame.
3. Filter a Pandas DataFrame based on a condition.
4. Apply a user-defined function to a Pandas DataFrame.
5. 

### Deliverables:

1. A Python file containing the four functions/programs.
2. A text file containing sample inputs and outputs for each function/program.

### Grading Criteria:

1. Correctness and functionality of each function/program
2. Proper use of basic control structures and functions
3. Code readability and organization
4. Note: Students are encouraged to work collaboratively, but each student must submit their own work. In addition, students should utilize version control (e.g. GitHub) to  manage their code and collaborate with peers.

Sort a Pandas DataFrame by a specific column in ascending order.

In [13]:
import pandas as pd

df = pd.read_csv('p:\\Python Programming and Data Analysis\\data\\data.csv')
sorted_df = df.sort_values('column_name')
print(sorted_df)

    Column_1  Column_2  Column_3
0         10        20        30
1         20        30        40
2         30        40        50
3         40        50        60
4         50        60        70
5         60        70        80
6         70        80        90
7         80        90       100
8         90       100       110
9        100       110       120
10       110       120       130
11       120       130       140
12       130       140       150
13       140       150       160
14       150       160       170
15       160       170       180
16       170       180       190
17       180       190       200
18       190       200       210
19       200       210       220
20       210       220       230
21       220       230       240
22       230       240       250
23       240       250       260
24       250       260       270
25       260       270       280
26       270       280       290
27       280       290       300
28       290       300       310
29       300       310       320
30       310       320       330
31       320       330       340
32       330       340       350
33       340       350       360
34       350       360       370
35       360       370       380

Remove duplicates from a Pandas DataFrame.

In [11]:
import pandas as pd

df = pd.read_csv('p:\\Python Programming and Data Analysis\\data\\data.csv')
deduplicated_df = df.drop_duplicates()
print(deduplicated_df)

    Column_1  Column_2  Column_3
0         10        20        30
1         20        30        40
2         30        40        50
3         40        50        60
4         50        60        70
5         60        70        80
6         70        80        90
7         80        90       100
8         90       100       110
9        100       110       120
10       110       120       130
11       120       130       140
12       130       140       150
13       140       150       160
14       150       160       170
15       160       170       180
16       170       180       190
17       180       190       200
18       190       200       210
19       200       210       220
20       210       220       230
21       220       230       240
22       230       240       250
23       240       250       260
24       250       260       270
25       260       270       280
26       270       280       290
27       280       290       300
28       290       300       310
29       300       310       320
30       310       320       330
31       320       330       340
32       330       340       350
33       340       350       360
34       350       360       370
35       360       370       380

Filter a Pandas DataFrame based on a condition.

In [14]:
import pandas as pd

df = pd.read_csv('p:\\Python Programming and Data Analysis\\data\\data.csv')
filtered_df = df[df['column_name'] > 50]
print(filtered_df)

    Column_1  Column_2  Column_3
5         60        70        80
6         70        80        90
7         80        90       100
8         90       100       110
9        100       110       120
10       110       120       130
11       120       130       140
12       130       140       150
13       140       150       160
14       150       160       170
15       160       170       180
16       170       180       190
17       180       190       200
18       190       200       210
19       200       210       220
20       210       220       230
21       220       230       240
22       230       240       250
23       240       250       260
24       250       260       270
25       260       270       280
26       270       280       290
27       280       290       300
28       290       300       310
29       300       310       320
30       310       320       330
31       320       330       340
32       330       340       350
33       340       350       360
34       350       360       370
35       360       370       380

Apply a user-defined function to a Pandas DataFrame.

In [15]:
import pandas as pd

df = pd.read_csv('p:\\Python Programming and Data Analysis\\data\\data.csv')

def my_function(x):
    return x ** 2

new_df = df.apply(my_function)
print(new_df)

    Column_1  Column_2  Column_3
0        100       400       900
1        400       900      1600
2        900      1600      2500
3       1600      2500      3600
4       2500      3600      4900
5       3600      4900      6400
6       4900      6400      8100
7       6400      8100     10000
8       8100     10000     12100
9      10000     12100     14400
10     12100     14400     16900
11     14400     16900     19600
12     16900     19600     22500
13     19600     22500     25600
14     22500     25600     28900
15     25600     28900     32400
16     28900     32400     36100
17     32400     36100     40000
18     36100     40000     44100
19     40000     44100     48400
20     44100     48400     52900
21     48400     52900     57600
22     52900     57600     62500
23     57600     62500     67600
24     62500     67600     72900
25     67600     72900     78400
26     72900     78400     84100
27     78400     84100     90000
28     84100     90000     96100
29     90000     96100    102400
30     96100    102400    108900
31    102400    108900    115600
32    108900    115600    122500
33    115600    122500    129600
34    122500    129600    136900
35    129600    136900    144400

Merge two Pandas DataFrames based on a common column.

In [20]:
import pandas as pd

df1 = pd.read_csv('p:\\Python Programming and Data Analysis\\data\\data1.csv')
df2 = pd.read_csv('p:\\Python Programming and Data Analysis\\data\\data2.csv')

merged_df = pd.merge(df1, df2, on='column_name1')
print(merged_df)

    column_name1  column_name2_x  column_name3_x  column_name2_y  \
0             10              20              30              20
1             20              30              40              30
2             30              40              50              40
3             40              50              60              50
4             50              60              70              60
5             60              70              80              70
6             70              80              90              80
7             80              90             100              90
8             90             100             110             100
9            100             110             120             110
10           110             120             130             120
11           120             130             140             130
12           130             140             150             140
13           140             150             160             150
14           150             160             170             160
15           160             170             180             170
16           170             180             190             180
17           180             190             200             190
18           190             200             210             200
19           200             210             220             210
20           210             220             230             220
21           220             230             240             230
22           230             240             250             240
23           240             250             260             250
24           250             260             270             260
25           260             270             280             270
26           270             280             290             280
27           280             290             300             290
28           290             300             310             300
29           300             310             320             310
30           310             320             330             320
31           320             330             340             330
32           330             340             350             340
33           340             350             360             350
34           350             360             370             360
35           360             370             380             370

    column_name3_y
0               30
1               40
2               50
3               60
4               70
5               80
6               90
7              100
8              110
9              120
10             130
11             140
12             150
13             160
14             170
15             180
16             190
17             200
18             210
19             220
20             230
21             240
22             250
23             260
24             270
25             280
26             290
27             300
28             310
29             320
30             330
31             340
32             350
33             360
34             370
35             380