## Lab Assignment: Introduction to Pandas
Student:     **MARY-ZITTA MUABE**

### Objective: To introduce data manipulation and analysis in Python using Pandas and understand Pandas data structures and basic operations.

### Instructions:
In this lab assignment, you will be introduced to data manipulation and analysis in Python using Pandas. You will learn how to create and manipulate Pandas data structures, perform basic data analysis and cleaning operations, and apply built-in functions to analyze and transform the data.

You will be provided with the following five problems to solve. Please read the problem statement carefully and implement the solution using Pandas.

1. Read a CSV file into a Pandas DataFrame.
2. Display the first 5 rows of a Pandas DataFrame.
3. Display the last 5 rows of a Pandas DataFrame.
4. Create a new column in a Pandas DataFrame by combining two existing columns.
5. Group a Pandas DataFrame by a specific column and calculate the mean of another column for each group.

### Deliverable:
Modify this notebook to include the python code as well as any documentation related to your submission.  Submit the notebook as your response in Blackboard.

### Grading Criteria:

Your lab assignment will be graded based on the following criteria:

- Correctness of the implementation
- Proper use of basic control structures and functions
- Code efficiency
- Clarity and readability of the code
- Compliance with the instructions and deliverables.

### Student Submission
1.  Read a CSV file into a Pandas DataFrame.

In [ ]:
import pandas as pd

df = pd.read_csv('C:\\Users\\Mary\\OneDrive\\Data747\\Data747\\Week 4\\week4data.csv')
print(df)

   StudentID     Name  Math  Science Class
0          1    Alice    85       78     A
1          2      Bob    90       88     A
2          3  Charlie    70       65     B
3          4    David    60       72     B
4          5      Eva    95       92     A
5          6    Frank    55       60     C
6          7    Grace    80       85     C
7          8   Hannah    88       90     B
8          9      Ian    76       74     A
9         10     Jane    82       79     C

2.  Display the first 5 rows of a Pandas DataFrame.

In [ ]:
import pandas as pd

df = pd.read_csv('C:\\Users\\Mary\\OneDrive\\Data747\\Data747\\Week 4\\week4data.csv')
print(df.head())

   StudentID     Name  Math  Science Class
0          1    Alice    85       78     A
1          2      Bob    90       88     A
2          3  Charlie    70       65     B
3          4    David    60       72     B
4          5      Eva    95       92     A

3.  Display the last 5 rows of a Pandas DataFrame.

In [ ]:
import pandas as pd

df = pd.read_csv('C:\\Users\\Mary\\OneDrive\\Data747\\Data747\\Week 4\\week4data.csv')
print(df.tail())

   StudentID    Name  Math  Science Class
5          6   Frank    55       60     C
6          7   Grace    80       85     C
7          8  Hannah    88       90     B
8          9     Ian    76       74     A
9         10    Jane    82       79     C

4.  Create a new column in a Pandas DataFrame by combining two existing columns.

In [ ]:
import pandas as pd

df = pd.read_csv('C:\\Users\\Mary\\OneDrive\\Data747\\Data747\\Week 4\\week4data.csv')
df['Total'] = df['Math'] + df['Science']
print(df)

   StudentID     Name  Math  Science Class  Total
0          1    Alice    85       78     A    163
1          2      Bob    90       88     A    178
2          3  Charlie    70       65     B    135
3          4    David    60       72     B    132
4          5      Eva    95       92     A    187
5          6    Frank    55       60     C    115
6          7    Grace    80       85     C    165
7          8   Hannah    88       90     B    178
8          9      Ian    76       74     A    150
9         10     Jane    82       79     C    161

5.  Group a Pandas DataFrame by a specific column and calculate the mean of another column for each group.

In [ ]:
import pandas as pd

df = pd.read_csv('C:\\Users\\Mary\\OneDrive\\Data747\\Data747\\Week 4\\week4data.csv')
grouped = df.groupby('Class')['Math'].mean()
print(grouped)

Class
A    86.500000
B    72.666667
C    72.333333
Name: Math, dtype: float64